P { text-align: left }
H1 { text-align: center }

body {
	font-size: 15px;
}

h1 {
	font-size: 45px;
}

a {
	color: black;
	text-decoration: none; /* no hyptertext underline */
}

a1 {
	font-size: 20px;
	margin-left: 0px;
	text-align: left;
	LINE-HEIGHT: 0px;
}

a2 {
	font-size: 15px;
	margin-left: 0px;
	text-align: left;
	LINE-HEIGHT: 1px;
}

img {
	max-height:100%;
	max-width:100%;
}

fieldset {
	width:750px;
	
}
fieldset legend {
	margin-top: 10px;
}
form {
	text-align: center;
}
#header {
	background-color: #893939;
	color: black;
	font-size: 40px;
	text-align: center;
	//width: 1550px;
	width: 100%;
	position: fixed; 
	top: 0;
	height:100px; 
}
/* navigation bar along the left */
#left {
	width: 200px;
	//width: 10%;
	height: 1000px;
	position: fixed; 
	float: left;
	display: inline;
	padding-top: 100px;
	padding-left: 30px;
	margin: 100;
	//padding: 10;
	background-color: #893939;
	color: black;
	font-size: 20px;
}

/* settings for the main section */
#main{
	width: 100%;
	margin-left: 200px;
	height: 2000px;
	padding-top: 100px;
	background-color: black;
	color: #893939;
	text-align: center;
	font-size: 25px;

}

#dateMain{
	width: 100%;
	margin-left: 200px;
	margin-right: 200px;
	height: 2000px;
	position:center;
	padding-top: 200px;
	padding-left: 100px;
	background-color: black;
	color: #893939;
	text-align: center;
	font-size: 25px;

}


#bottom {
	position:fixed;
	float: left;
	//display: inline;
    bottom:0;
    //width:1530px;
	width: 100%;
    height:120px;  
	background-color: #893939;
	color: black;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding: 10;
}

#main-pic{
	width: 1200px;
	height: 500px;
	margin-top: 25px;
	font-size: 20px;
	display: block;
    margin-left: 16%;
    margin-right: auto;

}

#force-awakens-pic{
	width: 450px;
	height: 600px;
	margin-top: 25px;
	font-size: 20px;
	display: block;
    margin-left: 30%;
    margin-right: auto;

}

#stand-alone-pic{
	width: 1000px;
	height: 700px;
	margin-top: 50px;
	font-size: 20px;
	display: block;
    margin-left: 16%;
    margin-right: auto;
}

#prequels-pic{
	width: 500px;
	height: 360px;
	margin-top: 25px;
	font-size: 20px;
	display: block;
    margin-left: 30%;
    margin-right: auto;
}

#original-pic{
	width: 1000px;
	height: 500px;
	margin-top: 25px;
	font-size: 20px;
	display: block;
    margin-left: 16%;
    margin-right: auto;
}

#ultimate-pic{
	width: 500px;
	height: 400px;
	margin-top: 25px;
	font-size: 20px;
	display: block;
    margin-left: 16%;
    margin-right: auto;
}

#web-security{
	width: 1200px;
	height: 1200px;
	margin-top: 25px;
	font-size: 20px;
	display: block;
    margin-left: 16%;
    margin-right: auto;
}